<h1
  style="
    padding-left: 20px;
    color: green;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  ">  Todo List</h1>

<div class="center-container">
  <div class="content-container">
    <br />
    <button
      mat-raised-button
      color="primary"
      style="color: green; margin-bottom: 10px"
      routerLink="/add-task"
    >
      Add Task
    </button>

    <div *ngFor="let todo of todos">
      <app-todo-item [todo]="todo" (todoDeleted)="handleTodoDeleted($event)"></app-todo-item>
    </div>
  </div>
</div>
